<section id="showPost">
		<div id="postContent">
			<h2><%= @post.title %></h2>
			<p>
				Submitted <%= time_ago_in_words(@post.created_at) %> Ago
				<% if user_signed_in? %>
					<span id="crudLinks">
					<%= link_to 'Edit', edit_post_path(@post) %>
					| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
					</span>
				<% end %>
			</p>
			<p>
				<%= markdown @post.body %>
			</p>
		</div>
			
	</section>
